* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 0.9375rem;
  color: #797979;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 300;
  width:100%;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

div {
  word-wrap: break-word;
  line-height: 1.50rem;
}
p img {
    border-radius: 8px;
}

a {
  text-decoration: none;
  color: teal;
}
a:visited {
  text-decoration: none;

}
a:hover {
  color: #b6ddf9;
}

a:active {
  color: #41525e;
}

.container-map {
    position: relative;
    margin-top: 5px;
    width: 250px;
    height: 200px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f2faff;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #008B8B;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: teal;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #008B8B;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

p.lead {
    color: teal;
    margin-bottom: 2rem;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
    outline:0;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 50px;
    background-image: -moz-linear-gradient( 122deg, #008B8B 0%, teal 100%);
    background-image: -webkit-linear-gradient( 122deg, #008B8B 0%, teal 100%);
    background-image: -ms-linear-gradient( 122deg, #008B8B 0%, teal 100%);
    background-image: linear-gradient( 122deg, #008B8B 0%, teal 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #008B8B 0%, teal 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #faf6fb;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}

.modal-content{
  background-image: -moz-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88,0.5) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
  background-image: linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
}

.caption {
    display: block;
    margin-top: .5rem;
}

/* #view-change-button img {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#view-change-button:not(.full) .not-full {
  display: inline-block;
}

#view-change-button.full .full {
  display: inline-block;
} */

#contentParent {
  height: 80%;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#chat-column-holder {
  text-align: center;
}

.chat-column {
  /* background: linear-gradient(to bottom right, rgb(0,63,105), rgb(0,96,88)); */
  border-radius: 5px;
  height: 100%;
  padding: 0.1rem 0 0.6rem 0;
  margin: auto;
  text-align: left;
  max-width: 25rem;
  min-width: 9.375rem;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 4rem);
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #00B4A0;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  color: white;
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color:white;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: white;
}

.from-watson p {
  color:white;
  margin: 0.3125rem;
  padding: 0 1.25rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #9855D4;
  background-image: url("../img/ibm-logo.png");
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#textInput.underline {
  border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
  opacity:  1;
}

input:-moz-placeholder {
  color: white;
  opacity:  1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

/* #payload-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292A;
  color: #fff;
  overflow-x: auto;

  width: 45%;
  max-width: 32.0625rem;
  min-width: 29.6875rem;
}

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
}

#payload-column .header-text, #payload-column #payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #9E9E9E;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383D3E;
}

.hide {
  display: none;
}

.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem;
}

.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
} */

pre {
  margin: 0;
  word-wrap: normal;
}

.string {
  color: #54EED0;
}

.boolean, .null, .number {
  color: #CE8EFF;
}

.key {
  color: #66B7FF;
}

html{
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .chat-column {
    padding-top: 4rem;
  }

  #payload-column {
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(top, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background: -webkit-linear-gradient(top, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background: linear-gradient(to bottom, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: -moz-linear-gradient(top, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background: -webkit-linear-gradient(top, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background: linear-gradient(to bottom, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: teal;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    background-image: linear-gradient( 135deg, rgb(0, 63, 105) 0%, rgb(0, 96, 88) 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}

/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color:teal;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.tagline{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 21.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
